RewriteEngine On
Options +FollowSymLinks
AddType application/x-httpd-php5 .php5 .php .php3 .php2 .phtml

RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://www.liveaboardfleet.net/lodge/$1 [R,L]

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
 
RewriteRule ^dashboard/?$ index.php?section=dashboard [NC,L]
RewriteRule ^logout/?$ index.php?section=logout [NC,L]
RewriteRule ^users/?$ index.php?section=users [NC,L]
RewriteRule ^addnewuser/?$ index.php?section=addnewuser [NC,L]
RewriteRule ^saveuser/?$ index.php?section=saveuser [NC,L]
RewriteRule ^edituser/([a-zA-Z0-9]+)/?$ index.php?section=edituser&id=$1 [NC,L]
RewriteRule ^updateuser/? index.php?section=updateuser [NC,L]
RewriteRule ^deleteuser/([a-zA-Z0-9]+)/?$ index.php?section=deleteuser&id=$1 [NC,L]
RewriteRule ^editlodge/([a-zA-Z0-9]+)/?$ index.php?section=editlodge&id=$1 [NC,L]
RewriteRule ^managerooms/([a-zA-Z0-9]+)/?$ index.php?section=managerooms&id=$1 [NC,L]
RewriteRule ^newroom/([a-zA-Z0-9]+)/?$ index.php?section=newroom&id=$1 [NC,L]
RewriteRule ^editroom/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=editroom&id=$1&id2=$2 [NC,L]
RewriteRule ^lodge/?$ index.php?section=managelodge [NC,L]
RewriteRule ^addlodge/?$ index.php?section=addlodge [NC,L]
RewriteRule ^savelodge/?$ index.php?section=savelodge [NC,L]
RewriteRule ^updatelodge/?$ index.php?section=updatelodge [NC,L]
RewriteRule ^saveroom/?$ index.php?section=saveroom [NC,L]
RewriteRule ^updateroom/?$ index.php?section=updateroom [NC,L]
RewriteRule ^newreservation/?$ index.php?section=newreservation [NC,L]
RewriteRule ^searchinventory/?$ index.php?section=searchinventory [NC,L]
RewriteRule ^viewtent/?$ index.php?section=viewtent [NC,L]
#RewriteRule ^viewtent/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=viewtent&lodge=$1&pax=$2&day=$3&start_date=$4&end_date=$5 [NC,L]
RewriteRule ^togglebeds/?$ index.php?section=togglebeds [NC,L]
RewriteRule ^completereservation/?$ index.php?section=completereservation [NC,L]
RewriteRule ^locatereservation/?$ index.php?section=locatereservation [NC,L]
RewriteRule ^reservation_dashboard/?$ index.php?section=reservation_dashboard [NC,L]
RewriteRule ^reservation_dashboard/([a-zA-Z0-9]+)/?$ index.php?section=reservation_dashboard&reservationID=$1 [NC,L]
RewriteRule ^reservation_dashboard/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=reservation_dashboard&reservationID=$1&part=$2 [NC,L]
RewriteRule ^contacts/?$ index.php?section=contacts [NC,L]
RewriteRule ^newcontact/?$ index.php?section=newcontact [NC,L]
RewriteRule ^savecontact/?$ index.php?section=savecontact [NC,L]
RewriteRule ^searchcontacts/?$ index.php?section=searchcontacts [NC,L]
RewriteRule ^reservenow/?$ index.php?section=reservenow [NC,L]
RewriteRule ^editcontact/([a-zA-Z0-9]+)/?$ index.php?section=editcontact&contactID=$1 [NC,L]
RewriteRule ^updatecontact/?$ index.php?section=updatecontact [NC,L]
RewriteRule ^resellers/?$ index.php?section=resellers [NC,L]
RewriteRule ^editreseller/([a-zA-Z0-9]+)/?$ index.php?section=editreseller&resellerID=$1 [NC,L]
RewriteRule ^updatereseller/?$ index.php?section=updatereseller [NC,L]
RewriteRule ^editagents/([a-zA-Z0-9]+)/?$ index.php?section=editagents&resellerID=$1 [NC,L]
RewriteRule ^editagent/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=editagent&resellerID=$1&agentID=$2 [NC,L]
RewriteRule ^updateagent/?$ index.php?section=updateagent [NC,L]
RewriteRule ^newagent/?$ index.php?section=newagent [NC,L]
RewriteRule ^newreseller/?$ index.php?section=newreseller [NC,L]