RewriteEngine On
Options +FollowSymLinks
AddType application/x-httpd-php5 .php5 .php .php3 .php2 .phtml

RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://www.liveaboardfleet.net/lodge/$1 [R,L]

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

# One param
# IE: search

RewriteRule ^/?([^/]*)$ index.php?section=$1 [NC,L]
 

# Two params
# IE: search/12345

RewriteRule ^edituser/([a-zA-Z0-9]+)/?$ index.php?section=edituser&id=$1 [NC,L]
RewriteRule ^deleteuser/([a-zA-Z0-9]+)/?$ index.php?section=deleteuser&id=$1 [NC,L]
RewriteRule ^editlodge/([a-zA-Z0-9]+)/?$ index.php?section=editlodge&id=$1 [NC,L]
RewriteRule ^managerooms/([a-zA-Z0-9]+)/?$ index.php?section=managerooms&id=$1 [NC,L]
RewriteRule ^newroom/([a-zA-Z0-9]+)/?$ index.php?section=newroom&id=$1 [NC,L]
RewriteRule ^reservation_dashboard/([a-zA-Z0-9]+)/?$ index.php?section=reservation_dashboard&reservationID=$1 [NC,L]
RewriteRule ^editcontact/([a-zA-Z0-9]+)/?$ index.php?section=editcontact&contactID=$1 [NC,L]
RewriteRule ^editreseller/([a-zA-Z0-9]+)/?$ index.php?section=editreseller&resellerID=$1 [NC,L]
RewriteRule ^editagents/([a-zA-Z0-9]+)/?$ index.php?section=editagents&resellerID=$1 [NC,L]
RewriteRule ^assignreseller/([a-zA-Z0-9]+)/?$ index.php?section=assignreseller&reservationID=$1 [NC,L]
RewriteRule ^newagent/([a-zA-Z0-9]+)/?$ index.php?section=newagent&resellerID=$1 [NC,L]
RewriteRule ^payments/([a-zA-Z0-9]+)/?$ index.php?section=payments&reservationID=$1 [NC,L]
RewriteRule ^add_discounts/([a-zA-Z0-9]+)/?$ index.php?section=add_discounts&reservationID=$1 [NC,L]
RewriteRule ^add_line_item/([a-zA-Z0-9]+)/?$ index.php?section=add_line_item&reservationID=$1 [NC,L]
RewriteRule ^deletelineitem/([a-zA-Z0-9]+)/?$ index.php?section=deletelineitem&id=$1 [NC,L]
RewriteRule ^editlineitem/([a-zA-Z0-9]+)/?$ index.php?section=editlineitem&id=$1 [NC,L]
RewriteRule ^editdiscount/([a-zA-Z0-9]+)/?$ index.php?section=editdiscount&id=$1 [NC,L]
RewriteRule ^refundcashtransfer/([a-zA-Z0-9]+)/?$ index.php?section=refundcashtransfer&reservationID=$1 [NC,L]
RewriteRule ^invoice/([a-zA-Z0-9]+)/?$ viewinvoice.php?reservationID=$1 [NC,L]

# Three params
# IE: search/12345/676767

RewriteRule ^editroom/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=editroom&id=$1&id2=$2 [NC,L]
RewriteRule ^reservation_dashboard/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=reservation_dashboard&reservationID=$1&part=$2 [NC,L]
RewriteRule ^editagent/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=editagent&resellerID=$1&agentID=$2 [NC,L]
RewriteRule ^canceltent/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=canceltent&tent=$1&reservationID=$2 [NC,L]
RewriteRule ^deletelineitemassigned/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=deletelineitemassigned&id=$1&reservationID=$2 [NC,L]
RewriteRule ^editdiscountassigned/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=editdiscountassigned&id=$1&reservationID=$2 [NC,L]
RewriteRule ^deletediscountassigned/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=deletediscountassigned&id=$1&reservationID=$2 [NC,L]
RewriteRule ^editpayment/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=editpayment&id=$1&reservationID=$2 [NC,L]
RewriteRule ^deletepayment/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=deletepayment&id=$1&reservationID=$2 [NC,L]
RewriteRule ^editrefundtransfer/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=editrefundtransfer&id=$1&reservationID=$2 [NC,L]
RewriteRule ^deleterefundtransfer/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=deleterefundtransfer&id=$1&reservationID=$2 [NC,L]

# test



# Four params
# IE: search/12345/676767/A

RewriteRule ^assignagenttoreservation/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=assignagenttoreservation&reservationID=$1&reseller_agentID=$2&resellerID=$3 [NC,L]
RewriteRule ^assigncontact/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=assigncontact&reservationID=$1&bed=$2&roomID=$3 [NC,L]
RewriteRule ^newcontact/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=newcontact&reservationID=$1&bed=$2&roomID=$3 [NC,L]

# Five params
# IE: search/12345/676767/A/1

RewriteRule ^assigncontacttobed/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=assigncontacttobed&reservationID=$1&contactID=$2&bed=$3&roomID=$4


